<% if mobile_device? %>
  <div class="hidden-md hidden-lg">
    <div id="div-gpt-ad-1470354904616-3" style='height:50px;width:320px;margin:auto;'></div>
  </div>
<% else %>
  <div class="hidden-xs hidden-sm">
    <div id='div-gpt-ad-1470354904616-0' style='height:90px;width:728px;margin:auto;'></div>
  </div>
<% end %>
