<% unless notice.blank? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="col-md-8">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="pill">Organizations</h1>
    </div>
    <div class="col-sm-4" style="margin-top:10px;">
      <input type="text" name="" value="Search will go here…">
    </div>
    <div class="col-sm-4">
      <select class="form-control filter" disabled>
        <option>Filter Organizations by Category</option disabled>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default filled list-all">
      <% @orgs.each do |org| %>
        <div class="row">
          <%= link_to org.name, org %>
        </div>
      <% end %>
    </div>
  </div>
</div>
