<h1>New Organization</h1>

<div class="col-sm-6">
  <h2>From a Facebook Group</h2>
  <% user_fb_pages.each do |page| %>
    <% page.delete('access_token') %>
    <% page.delete('perms') %>
    <%= button_to "#{page.name}", '/orgs/new/fb', {params: {fb_page: page}} %> <br>
  <% end %>
</div>

<div class="col-sm-6">
  <h2>From Scratch</h2>
  <%= render 'form', org: @org %>
</div>



<%= link_to 'Back', orgs_path %>
