<h1 class="pill">Add Organization</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default filled list-all add-org-form">
      <div class="row">
        <h3 class="org-headers">From Facebook</h3>
        <p class="org-headers">Import the details from Facebook organizations that you manage. You'll be able to edit this information after importing.</p>
      </div>
      <% user_fb_pages.each do |page| %>
        <% fb_page = FbGraph2::Page.new(page.id).authenticate(access_token) %>
        <% fb_page = fb_page.fetch(fields: 'name,about,category,link,website,picture') %>
        <% page = fb_page.raw_attributes %>
        <div class="row">
          <%= link_to page[:name], orgs_new_fb_path(fb_page: page), method: :post %> <br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 right-hand-panel">
    <div class="panel panel-default filled add-org-form">
      <h3 class="org-headers">From Scratch</h3>
      <p>We recommend connecting your organization's Facebook with Events@Penn, because we'll be able to pull all of your events automatically. If you don't want to do that, though, use this form.</p>
      <%= render 'form', org: @org %>
    </div>
  </div>
</div>
