<div class="col-sm-6 right-hand-panel">
  <div class="panel panel-default filled add-org-fb-form">
    <h3 class="org-headers">Edit Information from Facebook</h3>
    <p>We've gathered all the information we could from your organization's Facebook page. Feel free to edit anything you want different!</p>
    <%= render 'form', org: @org %>
  </div>
</div>
