{% extends "../base.jinja" %}

{% block content %}

<h1>{{ org.name }}</h1>
<em>{{ org.tagline }}</em>

<h3>About {{ org.name }}</h3>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-3"><img class="img img-fluid" src="{{ org.photo }}" alt="{{ org.name }}"></div>
      <div class="col-xs-9"><p>{{ org.bio }}</p></div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Upcoming Events</h4>
  </div>
</div>

<h3>Connect to {{ org.name }}</h3>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-3"><img class="img img-fluid" src="{{ org.photo }}" alt="{{ org.name }}"></div>
      <a href="{{ org.website }}" class="col-xs-9">{{ org.name }}'s Website</a>
    </div>
    <div class="row">
      <div class="col-xs-3"><img class="img img-fluid" src="{{ org.photo }}" alt="{{ org.name }}"></div>
      <a href="{{ org.fbURL }}" class="col-xs-9">{{ org.name }} on Facebook</a>
    </div>
    <div class="row">
      <div class="col-xs-3"><img class="img img-fluid" src="{{ org.photo }}" alt="{{ org.name }}"></div>
      <a href="{{ org.fbURL }}" class="col-xs-9">IDK Subscribe to {{ org.name }}'s events</a>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Admins</h4>
    {% for admin in admins %}
      {{ admin.firstName }} {{ admin.lastName }}
    {% endfor %}
  </div>
</div>

{% if user %}
<a href="/event/new" class="btn btn-secondary">Create an event</a>
{% endif %}
<br>
<a href="/org" class="btn btn-secondary">Back to all</a>
{% endblock %}
