{% extends "../base.jinja" %}

{% block content %}
<h1>{{'user '+user.id|default('ID Here') }}</h1>
Name: {{user.firstName}} {{user.lastName}}
Email: {{user.email}}
<!-- {% for name, item in user %}
   <li>{{ name }}: {{ item }}</li>
{% endfor %} -->
{% endblock %}
