<div class="text-center">
  <h3 class="pill welcome">Welcome to</h3>
  <%= image_tag "logos/EventsAtPennLogotype" %>
  <%# for SEO purposes #%>
  <h1 style="display:none;">Events@Penn</h1>
  <br>
  <p>
    <em>Your guide to all the events Penn and Philly have to offer.</em>
  </p>
  <p>
    <strong>Looking for events?</strong> Search by date, or browse by organization or category! You don't need to have an account to look at events or export them to a calendar.
  </p>
  <p>
    <strong>Posting events?</strong> Log in using the button above.
    You will be prompted to log in with Facebook and grant Events@Penn page viewing
    privileges. To create events, you must be an administrator of the host organization.
  </p>
  <br>
  <a href="http://www.thedp.com/" target="_blank"><%= image_tag "logos/dplogo", class: "dp-logo" %></a>
</div>
