<div id="filterrific_results">
  <div class="row">
    <div class="panel panel-default filled list-all">
      <% @events.each do |event| %>
        <div class="row">
          <%= link_to event.title, event %>
        </div>
      <% end %>
      <% if @events.empty? %>
        <div class="row">
          No events found! Try different filters.
        </div>
      <% end %>
    </div>
  </div>
</div>
