<div id="filterrific_results">
  <div class="row">
    <%# Upcoming Events %>
    <div class="panel panel-default filled list-all">
      <% upcoming = @events.select { |e| e.end_date >= Time.new } %>
      <% upcoming.each do |event| %>
        <div class="row">
          <%= link_to event.title, event %> by
          <em><%= link_to event.org.name, event.org %></em> on
          <em>
            <%= event.start_date.strftime("%A, %B %d at %l:%M %P") unless event.all_day %>
            <%= event.start_date.strftime("%A, %B %d") if event.all_day %>
          </em>
        </div>
      <% end %>
      <% if upcoming.empty? %>
        <div class="row">
          No events found! Try different filters.
        </div>
      <% end %>
    </div>
  </div>
</div>
