<% unless notice.blank? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="col-md-8">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="pill">Events</h1>
    </div>
    <div class="col-sm-4" style="margin-top:10px;">
      <input type="text" name="" value="Search will go here…">
    </div>
    <div class="col-sm-4">
      <select class="form-control filter" disabled>
        <option>Filter Events by Category</option disabled>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default filled list-all">
      <% @events.each do |event| %>
        <div class="row">
          <%= link_to event.title, event %> by <%= link_to event.org.name, event.org %>
        </div>
      <% end %>
    </div>
  </div>
</div>
