<% @title = "About" %>
<div class="row">
  <div class="col-lg-6">
    <div class="page-title">
      <h1 class="pill">About Events@Penn</h1>
    </div>
    <div class="panel panel-default filled">
      <div class="panel-body">
        <p>
          <em>Your guide to all the events Penn and Philly have to offer.</em>
        </p>
        <p>
          <strong>Looking for events?</strong> Search by date, or browse by organization or category! You don't need to have an account to look at events or organizations.
        </p>
        <p>
          <strong>Posting events?</strong> Log in using the button above.
          You will be prompted to log in with Facebook and grant Events@Penn page viewing
          privileges. You can create an organization from Facebook if you are a page
          administrator. You can also create organizations from scratch. To create events,
          you must be an administrator of the host organization.
        </p>
        <p>
          One piece of advice that The Daily Pennsylvanian frequently receives in annual surveys is that students want to access more up-to-date and consistent information about events that are happening on and around Penn's campus. In an effort to address this void in Penn student life, the DP has come together to create an events platform to consolidate events from a variety of sources in an easily accessible and comprehensive format.
        </p>
        <p class="mb0">
          Events@Penn is managed by Megha Agarwal and was built by Andrew Fischer, Alex Graves, Nolan Hill, and Colby Cox, on The Daily Pennsylvanian's web development team.
        </p>
      </div>
    </div>
  </div>
</div>
