<% @title = "About" %>
<div class="page-title">
  <h1 class="pill">About Events@Penn</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default filled">
      <div class="panel-body">
        <p>
          <em>Your guide to all the events Penn and Philly have to offer.</em>
        </p>
        <p>
          <strong>Looking for events?</strong> Search by date, or browse by organization or category! You don't need to have an account to look at events or organizations.
        </p>
        <p>
          <strong>Posting events?</strong> Log in using the button above.
          You will be prompted to log in with Facebook and grant Events@Penn page viewing
          privileges. You can create an organization from Facebook if you are a page
          administrator. You can also create organizations from scratch. To create events,
          you must be an administrator of the host organization.
        </p>
        <p>
          <strong>History:</strong> One piece of advice that The Daily Pennsylvanian frequently receives in annual surveys is that students want to access more up-to-date and consistent information about events that are happening on and around Penn's campus. In an effort to address this void in Penn student life, the DP has come together to create an events platform to consolidate events from a variety of sources in an easily accessible and comprehensive format.
        </p>
        <p class="mb0">
          <strong>Credits:</strong> Events@Penn is managed by Megha Agarwal and was built by Andrew Fischer, Alex Graves, Nolan Hill, and Colby Cox, on The Daily Pennsylvanian's web development team.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 right-hand-panel">
    <div class="panel panel-default filled">
      <div class="panel-body">
        <p><strong>What are event categories?</strong></p>
        <p>
          Events are sorted by categories, which are set automatically when events are pulled from Facebook, or can be customized when you create an event. Event categories are distinguished by different colors, which are:
        </p>
        <ul class="event-color-list">
          <li class="event-colors academic">&nbsp;&nbsp;Academic</li>
          <li class="event-colors arts">&nbsp;&nbsp;Arts</li>
          <li class="event-colors athletic">&nbsp;&nbsp;Athletic</li>
          <li class="event-colors career">&nbsp;&nbsp;Career and Professional</li>
          <li class="event-colors causes">&nbsp;&nbsp;Causes</li>
          <li class="event-colors charity">&nbsp;&nbsp;Charity and Community Service</li>
          <li class="event-colors conferences">&nbsp;&nbsp;Conferences, Meetings and Workshops</li>
          <li class="event-colors ethnic">&nbsp;&nbsp;Ethnic and Cultural</li>
          <li class="event-colors food">&nbsp;&nbsp;Food</li>
          <li class="event-colors health">&nbsp;&nbsp;Health and Wellness</li>
          <li class="event-colors lectures">&nbsp;&nbsp;Lectures and Speakers</li>
          <li class="event-colors music">&nbsp;&nbsp;Music, Theater and Performances</li>
          <li class="event-colors political">&nbsp;&nbsp;Political</li>
          <li class="event-colors religious">&nbsp;&nbsp;Religious and Spiritual</li>
          <li class="event-colors social">&nbsp;&nbsp;Social</li>
          <li class="event-colors other">&nbsp;&nbsp;Other</li>
        </ul>
      </div>
    </div>
  </div>
</div>
