<% @title = "About" %>
<% content_for :title do %>About<% end %>
<div class="row">
  <div class="col-lg-6">
    <div class="page-title">
      <h1 class="pill">About Events@Penn</h1>
    </div>
    <div class="panel panel-default filled">
      <div class="panel-body">
        <p>
          One piece of advice that The Daily Pennsylvanian frequently receives in annual surveys is that students want to access more up-to-date and consistent information about events that are happening on and around Penn's campus. In an effort to address this void in Penn student life, the DP has come together to create an events platform to consolidate events from a variety of sources in an easily accessible and comprehensive format.
        </p>
        <p class="mb0">
          Events@Penn was built by Colby Cox, Andrew Fischer, Alex Graves, and Nolan Hill, on The Daily Pennsylvanian's web development team.
        </p>
      </div>
    </div>
  </div>
</div>
