<div class="text-center">
  <h3 class="pill welcome">Welcome to</h3>
  <%= image_tag "logos/EventsAtPennLogotype" %>
  <%# for SEO purposes #%>
  <h1 style="display:none;">Events@Penn</h1>
  <br>
  <p><i>Editor's Picks</i></p>
  <%= render 'events/editors_picks' %>
  <br>
  <a href="http://www.thedp.com/" target="_blank"><%= image_tag "logos/dplogo", class: "dp-logo" %></a>
</div>
