<div class="text-center">
  <h3 class="pill welcome">Welcome to</h3>
  <%= image_tag "logos/EventsAtPennLogotype" %>
  <%# for SEO purposes #%>
  <h1 style="display:none;">Events@Penn</h1>
  <br>
  <p>
    <em>Your guide to all the events Penn and Philly have to offer.</em>
  </p>
  <p>
    <strong>Looking for events?</strong>
    Events@Penn hosts various events going on around Penn's campus and the
    Philly area. Search by date, or browse by organization or category. You
    don't need to have an account to look at events or organizations.
  </p>
  <p>
    <strong>Posting events?</strong>
    If you would like to host your organizations events on our platform,
    you must log in through your Facebook account using the button above.
    You will be prompted to log in and grant Events@Penn page viewing
    privileges. Next, navigate to the Organization tab, and choose to
    Add an Organization, which can be done either from scratch, or through
    Facebook if you are an administrator of the host organization's Facebook
    page. If you create an organization through Facebook, all of your
    organization's past, present and future events will automatically
    populate into the platform.
  </p>
  <br>
  <a href="http://www.thedp.com/" target="_blank"><%= image_tag "logos/dplogo", class: "dp-logo" %></a>
</div>
