.event-item-row {
  padding-right: 15px;

  &:not(:last-of-type) {
    padding-bottom: 10px;
  }
}

.day-view {
  &.event {
    background-color: #aa1e22;
    color: #333;
    border-radius: 4px;
    padding: 10px;
  }

  a {
    color: #CCC;

    &:hover, &:active {
      color: #EEE;
    }
  }

  &.academic, &.arts, &.causes, &.charity, &.lectures, &.religious, &.social, &.other {
    a {
      color: #555;

      &:hover, &:active {
        color: #777;
      }
    }
  }

  &.academic {
    background-color: #FFC0CB;
  }

  &.arts {
    background-color: #AEA8D3;
  }

  &.athletic {
    background-color: #1F3A93;
    color: #FFFFFF;
  }

  &.career {
    background-color: #3498DB;
    color: #FFFFFF;
  }

  &.causes {
    background-color: #F5D76E;
  }

  &.charity {
    background-color: #87D37C;
  }

  &.conferences {
    background-color: #674172;
    color: #FFFFFF;
  }

  &.ethnic {
    background-color: #F22613;
    color: #FFFFFF;
  }

  &.food {
    background-color: #D2527F;
    color: #FFFFFF;
  }

  &.health {
    background-color: #1E824C;
    color: #FFFFFF;
  }

  &.lectures {
    background-color: #4ECDC4;
  }

  &.music {
    background-color: #8A12B3;
    color: #FFFFFF;
  }

  &.political {
    background-color: #DB0A5B;
    color: #FFFFFF;
  }

  &.religious {
    background-color: #F9690E;
  }

  &.social {
    background-color: #F5AB35;
  }

  &.other {
    background-color: #99A2A8;
  }
}

.simple-calendar {
  border-color: #ddd;

  .calendar-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;

    a {
      display: inline-block;

      &.week-prev-next, &.week {
        display: none;
      }
    }
  }

  .calendar-event {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;

    &::before {
      content: '\25CF';
    }

    &.academic {
      &::before {
        color: #FFC0CB;
      }
    }

    &.arts {
      &::before {
        color: #AEA8D3;
      }
    }

    &.athletic {
      &::before {
        color: #1F3A93;
      }
    }

    &.career {
      &::before {
        color: #3498DB;
      }
    }

    &.causes {
      &::before {
        color: #F5D76E;
      }
    }

    &.charity {
      &::before {
        color: #87D37C;
      }
    }

    &.conferences {
      &::before {
        color: #674172;
      }
    }

    &.ethnic {
      &::before {
        color: #F22613;
      }
    }

    &.food {
      &::before {
        color: #D2527F;
      }
    }

    &.health {
      &::before {
        color: #1E824C;
      }
    }

    &.lectures {
      &::before {
        color: #4ECDC4;
      }
    }

    &.music {
      &::before {
        color: #8A12B3;
      }
    }

    &.political {
      &::before {
        color: #DB0A5B;
      }
    }

    &.religious {
      &::before {
        color: #F9690E;
      }
    }

    &.social {
      &::before {
        color: #F5AB35;
      }
    }

    &.other {
      &::before {
        color: #99A2A8;
      }
    }

    a {
      display: initial;
      color: #333;
    }
  }

  .calendar-title {
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  table {
    border-style: hidden; /* hide standard table (collapsed) border */
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ddd; // fake border
    table-layout: fixed;
  }

  thead tr th:first-child {
    border-top-left-radius: 4px;
  }

  thead tr th:last-child {
    border-top-right-radius: 4px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }

  th {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd !important;
  }

  .day {
    cursor: pointer;
    width: 14.285%; // 1/7th
    max-width: 14.285%; // 1/7th
    height: 120px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .more-events {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    cursor: pointer;
  }

  .mobile-weekday {
    display: none;
  }

  .current-month {
    background-color: #f5f5f5;
  }

  .date {
    font-weight: 300;
    pointer-events: none;

    .date-num {
      line-height: 1.8;
    }
  }

  .today {
    .date {
      .date-num {
        color: #fff;
        background-color: #aa1e22;
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 1.8;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .prev-month{
    background-color: #fff;
  }

  .next-month{
    background-color: #fff;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: inherit; // seriously why
  }

  table > tbody > tr > td.active {
    background-color: #F4E3E3;
  }

  @media screen and (max-width: 768px) {
    thead {
      display: none;
    }

    tr:not(.current-week) {
      display: none;
    }

    tr {
      padding: 10px;
    }

    .calendar-heading {
      display: inline-block;
      padding-top: 5px;

      a {
        display: none;

        &.week-prev-next, &.month-prev-next {
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    .day {
      display: table;
      width: 100%;
      max-width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
      height: auto;
      white-space: normal;
      overflow: visible;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .date {
      font-weight: 700;
      margin: 10px;
    }

    .mobile-weekday {
      color: #000;
      display: inline;
    }

    .calendar-event {
      margin: 10px;
      white-space: normal;
    }

    .date {
      .date-num {
        color: #000;
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 1.8;
        text-align: center;
      }
    }

    .more-events {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
}
