.calendar-filter {
  max-width: 200px;
  display: inline;
}

.simple-calendar {
  border-color: #ddd;

  .calendar-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .calendar-event {
    display: block;

    a {
      display: initial;
    }
  }

  .calendar-title {
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  table {
    border-style: hidden; /* hide standard table (collapsed) border */
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ddd; // fake border
  }

  thead tr th:first-child {
    border-top-left-radius: 4px;
  }

  thead tr th:last-child {
    border-top-right-radius: 4px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }

  th {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd !important;
  }

  .day {
    width: 14.285%; // 1/7th
    height: 115px;
    border: 1px solid #ddd;
  }

  .current-month {
    background-color: #f5f5f5;
  }

  .date {
    font-weight: 300;
    pointer-events: none;
  }

  .today {
    .date {
      .date-num {
        color: #fff;
        background-color: #aa1e22;
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 1.8;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .past {}
  .prev-month{
    background-color: #fff;
  }

  .future {}
  .next-month{
    background-color: #fff;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: inherit; // seriously why
  }

  table > tbody > tr > td.active {
    background-color: #F4E3E3;
  }

  @media screen and (max-width: 768px) {
    thead {
      display: none;
    }

    tr:not(.current-week) {
      display: none;
    }

    tr {
      padding: 10px;
    }

    .day {
      display: table;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
      height: auto;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .date {
      font-weight: 700;
      margin: 10px;
    }

    .mobile-weekday {
      color: #000;
      display: inline;
    }

    .calendar-event {
      margin: 10px;
    }

    .calendar-heading {
      display: inline-block;
      padding-top: 5px;
    }

    .date {
      .date-num {
        color: #000;
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 1.8;
        text-align: center;
      }
    }
  }
}


.day-view {
  &.event {
    background-color: #aa1e22;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
  }

  a {
    color: #fff;
  }
}
