// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faces {
  height: 32px;
  width: 100%;
  overflow: hidden;
}

.face {
  display: inline-block;
  height: 32px;
  margin-right: 1px;
  width: 32px;
}
