<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/dailypenn/component-library/master/css/master.css" media="screen">
    <script src="https://use.typekit.net/psa2uuo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <title>{% block title %}{% endblock %}{% if title %} | {% endif %}Events@Penn</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light">
        <ul class="nav navbar-nav text-left">
          <li class="nav-item">
            <a class="nav-link" href="/">Events@Penn</a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="/org">All Organizations</a>
          </li>
          {% if user %}
            <li class="nav-item">
              <a class="nav-link" href="/profile">Your Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navProfileDropdown">
                <h6 class="dropdown-header">Your Organizations</h6>
                {% for org in user.userOrgs %}
                {{ org.name }}
                {% endfor %}
                <a class="dropdown-item" href="#">Org One</a>
                <a class="dropdown-item" href="#">Org Two</a>
                <a class="dropdown-item" href="/org/new"><b>+ Add an Organization</b></a>
              </div>
            </li>
            <li class="nav-item">
              <span class="nav-link">Hello, {{ user.displayName }}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/facebook"><b>Log in with Facebook</b></a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="container">
      {% block content %}
      {# main content block #}
      {% endblock %}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/master.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
</html>
