<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://www.thedp.com/" class="navbar-brand" target="_blank">
        Powered by <%= image_tag "logos/dp", class: "logo-bottom" %>
      </a>
    </div>
  </div>
</nav>
