<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="https://www.facebook.com/eventsatpenn" target="_blank">
      <%= image_tag "social/facebook", class: 'social-bottom' %>
    </a>
    <%# we don't have a twitter just yet %>
    <% if false %>
      <a href="https://www.twitter.com/_eventsatpenn" target="_blank">
        <%= image_tag "social/twitter", class: 'social-bottom' %>
      </a>
    <% end %>
    <a href="http://www.thedp.com/" class="navbar-brand" target="_blank">
      Powered by <%= image_tag "logos/dp", class: 'logo-bottom' %>
    </a>
  </div>
</nav>
